<div class="container mt-5">
    <div class="card text-center">
        <div class="card-border-0">
            <div class="card-body">
            <div class="card-header">Menu</div>
            <div class="card-text">
                <a class="card-link" routerlinkActive="active" routerLink="/admin">Admin</a>
                <a class="card-link" routerlinkActive="active" routerLink="/student">Student</a>
                <a class="card-link" routerlinkActive="active" routerLink="/cashier">Cashier</a>
            </div>
            </div>
        </div>
    </div>
</div>
