<div class="container text-center">
    <h1>Payment Confirmation</h1>
  </div>
  <div class="container offset-sm-1 mt-5 col-sm-8">
    <table mat-table [dataSource]="paymentArray" #mytable class="my-table mat-elevation-z5">
      <ng-container matColumnDef="paymentid">
        <th mat-header-cell *matHeaderCellDef>PaymentId</th>
        <td mat-cell *matCellDef="let element">{{element.paymentid}}</td>
      </ng-container>
      <ng-container matColumnDef="transid">
        <th mat-header-cell *matHeaderCellDef>TransacId</th>
        <td mat-cell *matCellDef="let element">{{element.transid}}</td>
      </ng-container>
      <ng-container matColumnDef="studentid">
        <th mat-header-cell *matHeaderCellDef>StudentId</th>
        <td mat-cell *matCellDef="let element">{{element.studentid}}</td>
      </ng-container>
      <ng-container matColumnDef="studentname">
        <th mat-header-cell *matHeaderCellDef>StudentName</th>
        <td mat-cell *matCellDef="let element">{{element.studentname}}</td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element">{{element.status}}</td>
      </ng-container>
      <ng-container matColumnDef="paymentamount">
        <th mat-header-cell *matHeaderCellDef>Amount</th>
        <td mat-cell *matCellDef="let element">{{element.paymentamount}}</td>
      </ng-container>
      <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef>Time</th>
        <td mat-cell *matCellDef="let element">{{element.time}}</td>
      </ng-container>
      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef>Created Time</th>
        <td mat-cell *matCellDef="let element">{{element.createdAt}}</td>
      </ng-container>
      <ng-container matColumnDef="event">
        <th mat-header-cell *matHeaderCellDef>Issue</th>
        <td mat-cell *matCellDef="let element">{{element.event}}</td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let element" class="action-link">
          <button type="submit" class="btn btn-danger btn-primary-warning" (click)="confirmPay(element.paymentid,element.transid,element.studentid,element.studentname)">Confirm</button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row;columns:displayedColumns;"></tr>
    </table>
